# carga_dataset_BD

En este notebook cargamos los datasets tanto el original como el transformado, y los subimos a las tablas ubicadas en la Base de Datos MySQL

#### Importamos las Librerias y la conexion

In [30]:
import pandas as pd  # type: ignore
from Base_de_Datos_Operaciones.conexionBD import create_connection

connection = create_connection()

Attempting to connect to the database...
Connection to MySQL database established successfully.

#### Definimos la ruta de nuestro dataset

In [31]:
import os

print("Directorio de trabajo actual:", os.getcwd())

Directorio de trabajo actual: C:\Users\mirlo\workshop1

In [32]:
import os

# Cambia al directorio raíz del proyecto
os.chdir('C:/Users/mirlo/workshop1')

# Verifica el cambio
print("Directorio de trabajo actual después del cambio:", os.getcwd())

Directorio de trabajo actual después del cambio: C:\Users\mirlo\workshop1

#### Cargamos nuestro Dataset Original

In [22]:
Dataset_Original = pd.read_csv('csv/candidates.csv', delimiter=';')

#### Lo insertamos en la tabla candidates

In [ ]:
if connection is not None:
    cursor = connection.cursor()

    insert_query = """
    INSERT INTO candidates (FirstName, LastName, Email, ApplicationDate, Country, YOE, Seniority, Technology, CodeChallengeScore, TechnicalInterviewScore)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    
    data = Dataset_Original.values.tolist()

    try:
        cursor.executemany(insert_query, data)
        connection.commit()
        print("Datos insertados correctamente.")
    except Exception as e:
        print(f"Error al insertar datos: {e}")
    finally:
        cursor.close()
        connection.close()

#### Cargamos nuestro Dataset transformado

In [37]:
Dataset_Transformado = pd.read_csv('csv/candidatos_contratados.csv', delimiter=',')

#### Insertamos en nuestra BD nuestro dataset transformado

In [38]:
data = Dataset_Transformado[['FirstName', 'LastName', 'Email', 'ApplicationDate', 'Country', 'YOE', 'Seniority', 'Technology', 'CodeChallengeScore', 'TechnicalInterviewScore']].values.tolist()

if connection is not None:
    try:
        cursor = connection.cursor()

        insert_query = """
        INSERT INTO candidates_contratados (FirstName, LastName, Email, ApplicationDate, Country, YOE, Seniority, Technology, CodeChallengeScore, TechnicalInterviewScore)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """

        cursor.executemany(insert_query, data)
        connection.commit()
        print("Datos insertados correctamente.")

    except Exception as e:
        print(f"Error al insertar datos: {e}")

    finally:
        cursor.close()
        connection.close()
else:
    print("La conexión a la base de datos no está disponible.")

Datos insertados correctamente.