# tablasBD

#### Importamos la Conexion

In [2]:
import sys
import os

# AÃ±ade la ruta del proyecto al sys.path
sys.path.append(os.path.abspath('C:/Users/mirlo/workshop1'))

In [3]:
from Base_de_Datos_Operaciones.conexionBD import create_connection
connection = create_connection()

Attempting to connect to the database...
Connection to MySQL database established successfully.

#### Creamos la tabla candidates en nuestra Base de Datos donde insertaremos nuestro dataset original

In [25]:
def create_candidates_table(connection):
    create_table_query = """
    CREATE TABLE IF NOT EXISTS candidates (
        FirstName VARCHAR(150) NOT NULL,
        LastName VARCHAR(150) NOT NULL,
        Email VARCHAR(250) NOT NULL,
        ApplicationDate DATE NOT NULL,
        Country VARCHAR(150) NOT NULL,
        YOE INT NOT NULL,
        Seniority VARCHAR(150) NOT NULL,
        Technology VARCHAR(150) NOT NULL, 
        CodeChallengeScore INT NOT NULL,
        TechnicalInterviewScore INT NOT NULL
    );
    """
    try:
        cursor = connection.cursor()
        cursor.execute(create_table_query)
        connection.commit()
        print("Table 'candidates' created successfully.")
    except Exception as e:
        print(f"An error occurred: {e}")
    finally:
        if connection.is_connected():
            cursor.close()

create_candidates_table(connection)

Table 'candidates' created successfully.

#### Creamos la tabla candidates_contratados en nuestra Base de Datos donde insertaremos nuestro dataset transformado

In [4]:
def create_candidates_contratados_table(connection):
    create_table_query = """
    CREATE TABLE IF NOT EXISTS candidates_contratados (
        ID SERIAL PRIMARY KEY,
        FirstName VARCHAR(150) NOT NULL,
        LastName VARCHAR(150) NOT NULL,
        Email VARCHAR(250) NOT NULL,
        ApplicationDate DATE NOT NULL,
        Country VARCHAR(150) NOT NULL,
        YOE INT NOT NULL,
        Seniority VARCHAR(150) NOT NULL,
        Technology VARCHAR(150) NOT NULL, 
        CodeChallengeScore INT NOT NULL,
        TechnicalInterviewScore INT NOT NULL
    );
    """
    try:
        cursor = connection.cursor()
        cursor.execute(create_table_query)
        connection.commit()
        print("Table 'candidates_contratados' created successfully.")
    except Exception as e:
        print(f"An error occurred: {e}")
    finally:
        if connection:
            cursor.close()

create_candidates_contratados_table(connection)

Table 'candidates_contratados' created successfully.